<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;
=======
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#big_shoe_1 {
  width: 400px;
  height: 400px;
}

img {
  width: 200px;
  height: 200px;
}

h1 {
  font-size: 30px;
}

#shopping_cart_logo {
  width: 20px;
  height: 20px;
}

.products {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.store {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.citation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.commentaires {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
>>>>>>> c3b975f49d37b112e70a67e460fecb9c952a1194
